
.background{
    height: 600px;
    width: 800px;
    background-image: url(start.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
input{
    border:0;
    background-color:#003C9D;
    color:#fff;border-radius:10px;
    margin-left:250px;
    margin-top: 50px;
    font-size:35px;
    height: 30px;
    width: 40px;
}


