.leftdiv{
    height: 600px;
    width: 400px;
    margin: 0;
    float: left;
 }
 .rightdiv{
    height: 600px;
    width: 300px;
    margin: 0;
    float: left;
 }
 .downdiv{
    margin-left:400px;
    height: 50px;
    width: 800px;
    float: left;
 }
 .topdiv{
   margin-left:400px;
   height: 50px;
   width: 800px;
   float: left;
 }