.leftdiv{
    height: 600px;
    width: 400px;
    margin: 0;
    float: left;
 }
 .rightdiv{
    height: 600px;
    width: 400px;
    margin: 0;
    float: left;
 }
 .downdiv{
    margin-left:400px;
    height: 300px;
    width: 800px;
    float: left;
 }