.img_0{
    height: 600px;
    width: 800px;
    background-image: url(./ending/0.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_1{
    height: 600px;
    width: 800px;
    background-image: url(./ending/1.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_2{
    height: 600px;
    width: 800px;
    background-image: url(./ending/2.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_2_5{
    height: 600px;
    width: 800px;
    background-image: url(./ending/2_5.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_3{
    height: 600px;
    width: 800px;
    background-image: url(./ending/3.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_4{
    height: 600px;
    width: 800px;
    background-image: url(./ending/4.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_5{
    height: 600px;
    width: 800px;
    background-image: url(./ending/5.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_6{
    height: 600px;
    width: 800px;
    background-image: url(./ending/6.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_7{
    height: 600px;
    width: 800px;
    background-image: url(./ending/7.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_8{
    height: 600px;
    width: 800px;
    background-image: url(./ending/8.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_9{
    height: 600px;
    width: 800px;
    background-image: url(./ending/9.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}


.img_11{
    height: 600px;
    width: 800px;
    background-image: url(./ending/11.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_ending_1{
    height: 600px;
    width: 800px;
    background-image: url(./ending/ending_1.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_ending_1{
    height: 600px;
    width: 800px;
    background-image: url(./ending/ending_1.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_ending_2{
    height: 600px;
    width: 800px;
    background-image: url(./ending/ending_2.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_ending_3{
    height: 600px;
    width: 800px;
    background-image: url(./ending/ending_3.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_ending_4{
    height: 600px;
    width: 800px;
    background-image: url(./ending/ending_4.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_end_1{
    height: 600px;
    width: 800px;
    background-image: url(./ending/end_1.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_end_2{
    height: 600px;
    width: 800px;
    background-image: url(./ending/end_2.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_end_3{
    height: 600px;
    width: 800px;
    background-image: url(./ending/end_3.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}

.img_end_4{
    height: 600px;
    width: 800px;
    background-image: url(./ending/end_4.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}