.fifthfloor {
    height: 600px;
    width: 800px;
    background-image: url(./fifth/fifthfloor.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.stair5to4_1 {
    height: 600px;
    width: 800px;
    background-image: url(./fifth/5to4_1.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.stair5to4_2 {
    height: 600px;
    width: 800px;
    background-image: url(./fifth/5to4_2.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.left {
    height: 600px;
    width: 800px;
    background-image: url(./fifth/left.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.left_road {
    height: 600px;
    width: 800px;
    background-image: url(./fifth/left_road.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.right {
    height: 600px;
    width: 800px;
    background-image: url(./fifth/right.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.right_person {
    height: 600px;
    width: 800px;
    background-image: url(./fifth/right_person.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.right_road_person {
    height: 600px;
    width: 800px;
    background-image: url(./fifth/right_road_person.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}