.firstfloor {
    height: 700px;
    width: 750px;
     background-image: url(firstfloor-1.jpg);
     background-position: top, left;
     z-index:1;
     /*margin-left:400px;*/
     background-size: 100%;
     background-repeat: no-repeat;
     text-align: center;
 }
 .coin {
     height: 700px;
    width: 750px;
     background-image: url(1F_coin_machine.jpg);
     background-position: top, left;
     z-index:1;
     /*margin-left:400px;*/
     background-size: 100%;
     background-repeat: no-repeat;
 }
 .list {
     height: 700px;
    width: 750px;
     background-image: url(IMG_20191206_164340.jpg);
     background-position: top, left;
     z-index:1;
     /*margin-left:400px;*/
     background-size: 100%;
     background-repeat: no-repeat;
 }
 .stair1{
     height: 700px;
    width: 750px;
     background-image: url(IMG_20191206_163903.jpg);
     background-position: top, left;
     z-index:1;
     /*margin-left:400px;*/
     background-size: 100%;
     background-repeat: no-repeat;
 }
 .stair2{
     height: 700px;
    width: 750px;
     background-image: url(IMG_20191206_163842.jpg);
     background-position: top, left;
     z-index:1;
     /*margin-left:400px;*/
     background-size: 100%;
     background-repeat: no-repeat;
 }
 div{
     width: 800px;
     height:800px;
     margin-left:400px;
     text-align: center;
 }
 .information{
     height: 700px;
    width: 750px;
     background-image: url(00.png);
     background-position:center;
     z-index:1;
     background-size: 100%;
     background-repeat: no-repeat;
     margin-left:400px;
 }
 .trash_can{
     height: 700px;
    width: 750px;
     background-image: url(trash_can.png);
     background-position:center;
     z-index:1;
     background-size: 100%;
     background-repeat: no-repeat;
     margin-left:400px;
 }
 .lightcontrol{
     height: 700px;
    width: 750px;
     background-image: url(trash_can.png);
     background-position:center;
     z-index:1;
     background-size: 100%;
     background-repeat: no-repeat;
     margin-left:400px;
 }