.firstfloor {
    height: 700px;
    width: 750px;
    background-image: url(./first/firstfloor-1.jpg);
    background-position: top, left;
    z-index:1;
    margin-left:400px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    float: left;
 }
 .coin {
     height: 700px;
     width: 750px;
    width: 750px;
     background-image: url(./first/coin_machine.jpg);
     background-position: top, left;
     z-index:1;
    margin-left:400px;
     background-size: 100%;
     background-repeat: no-repeat;
 }
 .coin_1 {
     height: 700px;
     width: 750px;
     background-image: url(./first/coin_machine_hint2.jpg);
     background-position: top, left;
     z-index:1;
     margin-left:400px;
     background-size: 100%;
     background-repeat: no-repeat;
 }
 .button_where{
     height: 20px;
     width: 50px;
     position: relative;
     bottom: 51%;
     right: -20%;
     text-align: center;
 }
 .button_hint{
    height: 20px;
    width: 50px;
    position: relative;
    bottom: 50%;
    right: -20%;
    text-align: center;
 }
 .button_text{
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 45%;
    right: -25%;
    text-align: center;
 }
 .button_giveup{
    height: 20px;
    width: 50px;
    position: relative;
    bottom: -40%;
    right: 55%;
    text-align: center;
 }
 .text_answer{
    position: relative;
    bottom: 51%;
    right: 25%;
 }
 .hint_list{
    background-color: lemonchiffon;
    width: 55%;
    height: 250px;
    position: relative;
    bottom: 75%;
    right: 30%;
    font-family: Calibri;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
 }
 .hint_list_1{
    background-color: lemonchiffon;
    width: 55%;
    height: 250px;
    position: relative;
    bottom: 75%;
    right: 30%;
    font-family: Calibri;
    font-size: 65px;
    text-align: center;
    font-weight: bold;
 }
 .result_list_f{
    background-color: #df5959;
    width: 55%;
    height: 100px;
    position: relative;
    bottom: 70%;
    right: 30%;
    font-family: Calibri;
    font-size: 62px;
    text-align: center;
    font-weight: bold;
 }
 .result_list_t{
    background-color: #59df81;
    width: 55%;
    height: 100px;
    position: relative;
    bottom: 70%;
    right: 30%;
    font-family: Calibri;
    font-size: 62px;
    text-align: center;
    font-weight: bold;
 }
 .list {
     height: 700px;
    width: 750px;
     background-image: url(./first/list.jpg);
     background-position: top, left;
     z-index:1;
     /*margin-left:400px;*/
     background-size: 100%;
     background-repeat: no-repeat;
 }
 .stair1{
     height: 700px;
    width: 750px;
     background-image: url(./first/1to2_1.jpg);
     background-position: top, left;
     z-index:1;
     /*margin-left:400px;*/
     background-size: 100%;
     background-repeat: no-repeat;
 }
 .stair2{
     height: 700px;
    width: 750px;
     background-image: url(./first/1to2_2.jpg);
     background-position: top, left;
     z-index:1;
     /*margin-left:400px;*/
     background-size: 100%;
     background-repeat: no-repeat;
 }
 div{
     width: 800px;
     height:800px;
     margin-left:400px;
     text-align: center;
 }
 .information{
    height: 700px;
    width: 750px;
    background-image: url(./first/paper.jpg);
    background-position: top, left;
    /*margin-left:400px;*/
    background-position:center;
    z-index:1;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left:400px;
 }
 .trash_can{
     height: 700px;
    width: 750px;
     background-image: url(./first/trash_can.png);
     background-position:center;
     z-index:1;
     background-size: 100%;
     background-repeat: no-repeat;
     margin-left:400px;
 }