.fourthfloor {
    height: 700px;
    width: 750px;
    background-image: url(./fourth/fourthfloor.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.stair {
    height: 700px;
    width: 750px;
    background-image: url(./fourth/stair.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.stair4to3_1 {
    height: 700px;
    width: 750px;
    background-image: url(./fourth/4to3_1.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.stair4to3_2 {
    height: 700px;
    width: 750px;
    background-image: url(./fourth/4to3_2.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.stair4to5_1 {
    height: 700px;
    width: 750px;
    background-image: url(./fourth/4to5_1.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.stair4to5_2 {
    height: 700px;
    width: 750px;
    background-image: url(./fourth/4to5_2.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.left {
    height: 700px;
    width: 750px;
    background-image: url(./fourth/left.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.left_road {
    height: 700px;
    width: 750px;
    background-image: url(./fourth/left_road.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.right {
    height: 700px;
    width: 750px;
    background-image: url(./fourth/right.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.right_road {
    height: 700px;
    width: 750px;
    background-image: url(./fourth/right_road.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.table{
    height: 700px;
    width: 750px;
    background-image: url(./fourth/table.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}