.class205{
    height: 600px;
    width: 800px;
    background-image: url(./second/class_205.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.mac{
    height: 600px;
    width: 800px;
    background-image: url(./second/mac/mac_screen.jpg);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.screen{
    height: 600px;
    width: 800px;
    background-image: url(./second/mac/mac_desktop.png);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.code_f{
    height: 600px;
    width: 800px;
    background-image: url(./second/mac/code_f.png);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.code_t{
    height: 600px;
    width: 800px;
    background-image: url(./second/mac/code_t.png);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.result_f{
    height: 600px;
    width: 800px;
    background-image: url(./second/mac/result_f.png);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.result_t{
    height: 600px;
    width: 800px;
    background-image: url(./second/mac/result_t.png);
    background-position: top, left;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.text_answer{
    position:relative;
    bottom: -52%;
    right: -40%;
}
.button_text{
   position: relative;
   bottom: -52%;
    right: -40%;
   text-align: center;
}
.result_list_f{
   background-color: #df5959;
   width: 55%;
   height: 100px;
   position: relative;
   bottom: 70%;
   right: 30%;
   font-family: Calibri;
   font-size: 62px;
   text-align: center;
   font-weight: bold;
}