.secondfloor_1 {
    height: 700px;
   width: 750px;
    background-image: url(./second/second_floor_1.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left:400px;
    background-size:100%;
    background-repeat: no-repeat;
    text-align: center;
}
.secondfloor {
    height: 700px;
   width: 750px;
    background-image: url(./second/second_floor.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left:400px;
    background-size:100%;
    background-repeat: no-repeat;
    text-align: center;
}
.stair2to3_1{
    height: 700px;
   width: 750px;
    background-image: url(./second/2to3_1.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left:400px;
    background-size:100%;
    background-repeat: no-repeat;
    text-align: center;
}
.stair2to3_2{
    height: 700px;
    width: 750px;
     background-image: url(./second/2to3_2.jpg);
     background-position: top, left;
     z-index: 1;
     margin-left:400px;
     background-size:100%;
     background-repeat: no-repeat;
     text-align: center;
}
.road {
    height: 700px;
    width: 750px;
    background-image: url(./second/road_2f.jpg);
    background-position: top, left;
    z-index: 1;
   margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.class201{
    height: 700px;
    width: 750px;
    background-image: url(./second/class_201.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.class203{
    height: 700px;
    width: 750px;
    background-image: url(./second/class_203.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.class205{
    height: 700px;
    width: 750px;
    background-image: url(./second/class_205.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.class210A{
    height: 700px;
    width: 750px;
    background-image: url(./second/class_210A.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.class210B{
    height: 700px;
    width: 750px;
    background-image: url(./second/class_210B.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.class212{
    height: 700px;
    width: 750px;
    background-image: url(./second/class_212.jpg);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.Fire_Extinguisher{
    height: 700px;
    width: 750px;
    background-image: url(./second/Fire_Extinguisher.png);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.elevator{
    height: 700px;
    width: 750px;
    background-image: url(./second/elevator2.png);
    background-position: top, left;
    z-index: 1;
    margin-left: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
}
