.secondfloor_1 {
    height: 600px;
    width: 800px;
    background-image: url(./second/second_floor_1.jpg);
    background-position: top, left;
    z-index: 1;
    background-size:100%;
    background-repeat: no-repeat;
    text-align: center;
    float: left;
    margin-left:500px;
    margin-top: 50px;
}
.secondfloor {
    height: 600px;
    width: 800px;
    background-image: url(./second/second_floor.jpg);
    background-position: top, left;
    z-index: 1;
    background-size:100%;
    background-repeat: no-repeat;
    text-align: center;
    float: left;
    margin-left:500px;
    margin-top: 50px;
}
.stair2to3_1{ 
    height: 600px;
    width: 800px;
    background-image: url(./second/2to3_1.jpg);
    background-position: top, left;
    z-index: 1;
    background-size:100%;
    background-repeat: no-repeat;
    text-align: center;
    float: left;
    position: fixed;
    margin-left:500px;
    margin-top: 50px;
}
.stair2to3_2{
    height: 600px;
    width: 800px;
     background-image: url(./second/2to3_2.jpg);
     background-position: top, left;
     z-index: 1;
     background-size:100%;
     background-repeat: no-repeat;
     text-align: center;
     float: left;
     margin-left:500px;
    margin-top: 50px;
}
.road {
    height: 600px;
    width: 800px;
    background-image: url(./second/road_2f.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-left:500px;
    margin-top: 50px;
}
.class201{
    height: 600px;
    width: 800px;
    background-image: url(./second/class_201.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-left:500px;
    margin-top: 50px;
}
.class203{
    height: 600px;
    width: 800px;
    background-image: url(./second/class_203.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-left:500px;
    margin-top: 50px;
}
.class205{
    height: 600px;
    width: 800px;
    background-image: url(./second/class_205.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-left:500px;
    margin-top: 50px;
}
.class210A{
    height: 600px;
    width: 800px;
    background-image: url(./second/class_210A.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-left:500px;
    margin-top: 50px;
}
.mac_button{
    height: 125px;
    width: 132px;
    bottom: 100%;
    right: 20%;
    text-align: center;
    margin-left:500px;
    margin-top: 50px;
}
.class210B{
    height: 600px;
    width: 800px;
    background-image: url(./second/class_210B.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-left:500px;
    margin-top: 50px;
}
.class212{
    height: 600px;
    width: 800px;
    background-image: url(./second/class_212.jpg);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-left:500px;
    margin-top: 50px;
}
.Fire_Extinguisher{
    height: 600px;
    width: 800px;
    background-image: url(./second/Fire_Extinguisher.png);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-left:500px;
    margin-top: 50px;
}
.elevator{
    height: 600px;
    width: 800px;
    background-image: url(./second/elevator2.png);
    background-position: top, left;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    margin-left:500px;
    margin-top: 50px;
}
